.posts-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.post-card{
    width: calc(100% / 4 - 20px);
    margin: 10px;
    background-color: rgb(199, 199, 199);
    box-shadow: 5px 5px 14px -1px rgba(0,0,0,0.77);
    padding: 10px;

    h2{
        color: $blue;
    }
}

.post-title{
    color: $blue;
}

.blog-post{
    background-color: rgb(199, 199, 199);
    border-radius: 5px;
    padding: 10px;
}